@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #022e68;
  color: rgb(var(--foreground-rgb));
  font-family: 'Montserrat', sans-serif;
}

main,
footer {
  background-color: #033e8a;
}

.bg-noise {
  background-image: url('../public/noise.svg');
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 6px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
}

.initials {
  font-family: 'Times New Roman', Times, serif;
  font-size: 200px;
  font-weight: bold;
}

.text-normal {
  font-family: 'Montserrat', sans-serif;
}

.text-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.text-footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 6px;
}

.day {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}

.date {
  font-family: 'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
